{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-1",
  ],
  "plugins": [
    "transform-runtime",
    "dev-expression",
  ],
  "env": {
    "test": {
      "presets": [
        ["es2015"],
        "stage-1",
      ],
      "plugins": ["istanbul"],
    }
  }
}
